{% extends 'base.html.twig' %}

{% block title %}
	Movies Page
{% endblock %}

{% block body %}
     {% for item in movies %}
        <h1>.
		{# item #}
	    </h1>
    {% endfor %}

	

	 
{% endblock %}
